@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", "sans-serif";
  user-select: none;
}

:root {
  --main-color: #040404;
  --second-color: #ffffff;
  --details-color: #bb0a21; /* #A22522 || #A41623 || #931F1D */
  --parag-color: #c5c5c5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--second-color);
}

p {
  color: var(--parag-color);
}

body {
  background-color: var(--main-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

/* start loader */
#loader-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 30%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: var(--details-color);
  animation: 2s prog ease-in forwards;
}

@keyframes prog {
  to {
    width: 100%;
  }
}

@media (max-width:950px) {
  .loader{
    width: 40%;
  }
}

@media (max-width:550px) {
  .loader{
    width: 60%;
  }
}
/* end loader */

/*****************************************************************************************************/
/********************************************  start home page  **************************************/
/*****************************************************************************************************/

.home_video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

header {
  padding: 20px 0;
  background-color: transparent;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h1 {
  font-size: 25px;
  font-weight: 600;
  background-color: transparent;
}

header .lang {
  padding: 10px;
  font-size: 14px;
  text-transform: capitalize;
  color: var(--second-color);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

header .lang:focus{
  background-color: var(--main-color);
  color: var(--second-color);
}

.text-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.text-page .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.text-page h1 {
  font-size: 50px;
}

.text-page h4 {
  font-size: 30px;
  font-weight: 600;
}

.text-page h4 span,
.text-page h4::first-letter {
  text-transform: capitalize;
}

.text-page h4 span {
  color: var(--details-color);
}

.social_links {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.social_links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social_links ul li i {
  font-size: 20px;
  color: var(--second-color);
}

.social_links ul li a {
  transition: 0.3s ease-in-out;
}

.social_links ul li a:hover {
  margin-left: 5px;
  position: relative;
}

.social_links ul li a:hover::after {
  position: absolute;
  left: 150%;
  top: 50%;
  width: 300px;
  transform: translateY(-50%);
  color: var(--second-color);
  font-size: 14px;
}

.social_links ul #twitter a:hover::after {
  content: "X-Twitter : @YassineChmarekh";
}

.social_links ul #instagram a:hover::after {
  content: "Instagram : @yassinechmarekh";
}
.social_links ul #linkedin a:hover::after {
  content: "Linkedin : @Yassine Chmarekh";
}
.social_links ul #github a:hover::after {
  content: "Github : @yassinechmarekh";
}

.nav_menu {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 100;
}

.nav_menu ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  background-color: #ffffff3f;
  border-radius: 10px;
}

.nav_menu ul a li i {
  font-size: 20px;
  color: var(--second-color);
}

.nav_menu ul a li.active i,
.nav_menu ul a:hover li i {
  color: var(--details-color);
}

.nav_menu ul a:hover li {
  position: relative;
  transition: 0.3s ease-in-out;
}

.nav_menu ul a:hover li::after {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(-30%, -50%);
  padding: 10px;
  background-color: var(--second-color);
  color: var(--details-color);
  border-radius: 5px;
  font-size: 13px;
  text-transform: capitalize;
}

.nav_menu ul a:hover #home::after {
  content: "accueil";
}

.nav_menu ul a:hover #about::after {
  content: "apropos";
}
.nav_menu ul a:hover #services::after {
  content: "services";
}
.nav_menu ul a:hover #projects::after {
  content: "projets";
}
.nav_menu ul a:hover #contact::after {
  content: "contact";
}

#particles-two,
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

/* start responsive */

@media (max-width: 950px) {
  header h1 {
    font-size: 20px;
  }
  .social_links ul li a:hover::after,
  header .lang {
    font-size: 13px;
  }
  .text-page h1 {
    font-size: 45px;
  }
  .text-page h4 {
    font-size: 25px;
  }
  .text-page .container {
    gap: 0;
  }
  .nav_menu ul a li i,
  .social_links ul li i {
    font-size: 18px;
  }
  .nav_menu ul a:hover li::after {
    padding: 8px;
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .nav_menu {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav_menu ul {
    padding: 10px 20px;
    flex-direction: row;
    gap: 40px;
    width: fit-content;
  }
  .nav_menu ul a:hover li::after {
    top: -200%;
    right: 50%;
    transform: translateX(50%);
  }
  .social_links {
    bottom: 75px;
  }
  .text-page h1 {
    font-size: 40px;
  }
  .text-page h4 {
    font-size: 22px;
  }
}

@media (max-width: 550px) {
  header h1 {
    font-size: 18px;
  }
  .social_links ul li a:hover::after,
  header .lang {
    font-size: 12px;
  }
  .text-page h1 {
    font-size: 30px;
  }
  .text-page h4 {
    font-size: 18px;
  }
  .text-page {
    width: 100%;
  }
  .social_links ul li i {
    font-size: 16px;
  }
  .nav_menu ul a:hover li::after {
    display: none;
  }
  .nav_menu ul {
    gap: 30px;
  }
}

@media (max-width: 350px) {
  header h1 {
    font-size: 16px;
  }
  .social_links ul li a:hover::after,
  header .lang {
    font-size: 11px;
  }
  .text-page h1 {
    font-size: 27px;
  }
  .text-page h4 {
    font-size: 15px;
  }
  .nav_menu ul a li i,
  .social_links ul li i {
    font-size: 16px;
  }
  .nav_menu {
    transform: translateX(-54%);
  }
}

/* end responsive */

/*****************************************************************************************************/
/********************************************   end home page   **************************************/
/*****************************************************************************************************/

/*****************************************************************************************************/
/******************************************   start about page   *************************************/
/*****************************************************************************************************/

.about_sec {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.about_sec .container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.about_sec .about_text {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects_sec .project_text,
.about_sec .about_text .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services_sec .services_content h1,
.projects_sec .project_text h1,
.about_sec .about_text .description h1 {
  font-size: 32px;
  text-transform: capitalize;
}

.services_sec .services_content h1 span,
.projects_sec .project_text h1 span,
.about_sec .about_text .description h1 span {
  color: var(--details-color);
}

.services_sec .services_content p,
.projects_sec .project_text p,
.about_sec .about_text .description p {
  font-size: 14px;
  line-height: 1.8;
}

.about_sec .about_text .about_btn {
  display: flex;
  gap: 15px;
}

.about_sec .about_text .about_btn a {
  padding: 10px 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid var(--details-color);
  border-radius: 30px;
  background-color: var(--details-color);
  color: var(--second-color);
  transition: 0.3s ease-in-out;
}

.about_sec .about_text .about_btn a i {
  font-size: 16px;
}

.about_sec .about_text .about_btn a span {
  font-size: 14px;
  text-transform: capitalize;
}

.about_sec .about_text .about_btn .bg_transparent {
  background-color: transparent;
  border-color: var(--second-color);
}

.about_sec .about_text .about_btn .bg_transparent:hover {
  background-color: transparent;
  color: var(--details-color);
  border-color: var(--details-color);
}

.about_sec .about_text .about_btn a:hover {
  background-color: var(--second-color);
  color: var(--details-color);
  border-color: var(--second-color);
}

.projects_sec .my_projects,
.about_sec .skills_sec {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 20px;
}

.projects_sec .my_projects .projects_navigation ul,
.about_sec .skills_sec .navigation_skills ul {
  display: flex;
  gap: 30px;
}

.projects_sec .my_projects .projects_navigation ul li,
.about_sec .skills_sec .navigation_skills ul li {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--second-color);
  cursor: pointer;
  position: relative;
  transition: 0.3s ease-in-out;
}

.projects_sec .my_projects .projects_navigation ul li:hover,
.projects_sec .my_projects .projects_navigation ul li.active,
.about_sec .skills_sec .navigation_skills ul li:hover,
.about_sec .skills_sec .navigation_skills ul li.active {
  color: var(--details-color);
}

.projects_sec .my_projects .projects_navigation ul li::after,
.about_sec .skills_sec .navigation_skills ul li::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--details-color);
  transition: 0.3s ease-in-out;
}

.projects_sec .my_projects .projects_navigation ul li:hover::after,
.projects_sec .my_projects .projects_navigation ul li.active::after,
.about_sec .skills_sec .navigation_skills ul li:hover::after,
.about_sec .skills_sec .navigation_skills ul li.active::after {
  width: 100%;
}

.projects_sec .my_projects .projects_content ul li,
.about_sec .skills_sec .content_skills ul li {
  display: none;
}

.projects_sec .my_projects .projects_content ul li.active,
.about_sec .skills_sec .content_skills ul li.active {
  display: block;
}

.about_sec .skills_sec .content_skills ul li .skills {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-right: 40px;
}

.about_sec .skills_sec .content_skills ul li .skills .single_skill {
  width: 50px;
  cursor: pointer;
  position: relative;
}

.about_sec .skills_sec .content_skills ul li .skills .single_skill img {
  width: 100%;
  transition: 0.3s ease-in-out;
}

.about_sec .skills_sec .content_skills ul li .skills .single_skill img:hover {
  transform: scale(0.8);
}

.about_sec
  .skills_sec
  .content_skills
  ul
  li
  .skills
  .single_skill:hover::after {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 10px;
  background-color: var(--second-color);
  color: var(--details-color);
  border-radius: 5px;
  font-size: 12px;
}

.about_sec .skills_sec .content_skills ul li .skills #html:hover::after {
  content: "HTML";
}

.about_sec .skills_sec .content_skills ul li .skills #css:hover::after {
  content: "CSS";
}

.about_sec .skills_sec .content_skills ul li .skills #javascript:hover::after {
  content: "Java Script";
  width: 70px;
}

.about_sec .skills_sec .content_skills ul li .skills #php:hover::after {
  content: "PHP";
}

.about_sec .skills_sec .content_skills ul li .skills #sql:hover::after {
  content: "SQL";
}

.about_sec .skills_sec .content_skills ul li .skills #uml:hover::after {
  content: "UML";
}

.about_sec .skills_sec .content_skills ul li .skills #laravel:hover::after {
  content: "LARAVEL";
}

.about_sec .skills_sec .content_skills ul li .skills #bootstrap:hover::after {
  content: "Bootstrap";
}

.about_sec .skills_sec .content_skills ul li .skills #vscode:hover::after {
  content: "VS Code";
  width: 52px;
}
.about_sec .skills_sec .content_skills ul li .skills #git:hover::after {
  content: "GIT";
}
.about_sec .skills_sec .content_skills ul li .skills #github:hover::after {
  content: "Github";
}

.about_sec .skills_sec .content_skills ul li .skills #xampp:hover::after {
  content: "XAMPP";
}
.about_sec .skills_sec .content_skills ul li .skills #composer:hover::after {
  content: "Composer";
}

/* start responsive */

@media (max-width: 950px) {
  .about_sec .container {
    flex-direction: column;
    gap: 40px;
  }
  .about_sec .skills_sec,
  .about_sec .about_text {
    width: 100%;
  }
  .about_sec .skills_sec .content_skills ul li .skills {
    margin: 0;
  }
  .projects_sec .project_text p,
  .about_sec .about_text .description p {
    margin-right: 40px;
  }
  .services_sec .services_content h1,
  .projects_sec .project_text h1,
  .about_sec .about_text .description h1 {
    font-size: 30px;
  }
  .services_sec .services_content p,
  .projects_sec .project_text p,
  .projects_sec .my_projects .projects_navigation ul li,
  .about_sec .skills_sec .navigation_skills ul li,
  .about_sec .about_text .about_btn a span,
  .about_sec .about_text .description p {
    font-size: 13px;
  }
  .about_sec .about_text .about_btn a i {
    font-size: 15px;
  }
  .about_sec .skills_sec .content_skills ul li .skills .single_skill {
    width: 45px;
  }
  .about_sec
    .skills_sec
    .content_skills
    ul
    li
    .skills
    .single_skill:hover::after {
    font-size: 11px;
  }
}

@media (max-width: 650px) {
  .about_sec .skills_sec {
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .services_sec .services_content h1,
  .projects_sec .project_text h1,
  .about_sec .about_text .description h1 {
    font-size: 28px;
  }
  .services_sec .services_content p,
  .projects_sec .project_text p,
  .projects_sec .my_projects .projects_navigation ul li,
  .about_sec .skills_sec .navigation_skills ul li,
  .about_sec .about_text .about_btn a span,
  .about_sec .about_text .description p {
    font-size: 12px;
  }
  .about_sec .about_text .about_btn a i {
    font-size: 14px;
  }
  .about_sec .skills_sec .content_skills ul li .skills .single_skill {
    width: 40px;
  }
  .about_sec
    .skills_sec
    .content_skills
    ul
    li
    .skills
    .single_skill:hover::after {
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .about_sec {
    align-items: flex-start;
    margin-bottom: 40px;
  }
}

/* end responsive */

/*****************************************************************************************************/
/******************************************   end about page   ***************************************/
/*****************************************************************************************************/

/*****************************************************************************************************/
/****************************************   start contact page   *************************************/
/*****************************************************************************************************/

.contact_sec {
  padding: 40px 0;
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
  overflow: auto;
}

.contact_sec .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_sec .contact_form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact_sec .contact_form h1 {
  font-size: 35px;
}

.contact_sec .contact_form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.contact_sec .contact_form form button,
.contact_sec .contact_form form textarea,
.contact_sec .contact_form form input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--parag-color);
  outline: none;
  color: var(--parag-color);
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.contact_sec .contact_form form button,
.contact_sec .contact_form form textarea::placeholder,
.contact_sec .contact_form form input::placeholder {
  font-size: 14px;
  color: var(--parag-color);
  text-transform: capitalize;
}

.contact_sec .contact_form form button {
  width: fit-content;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.contact_sec .contact_form form button:hover {
  background-color: var(--details-color);
  color: var(--second-color);
  border-color: var(--details-color);
}

.contact_sec .contact_form form textarea:focus::placeholder,
.contact_sec .contact_form form input:focus::placeholder {
  color: var(--details-color);
}

.contact_sec .contact_form form textarea:focus,
.contact_sec .contact_form form input:focus {
  border-color: var(--details-color);
  color: var(--details-color);
}

.custom-alert-success {
  border: 1px solid #aadc8c;
  border-radius: 10px;
}

.custom-alert-danger {
  border: 1px solid var(--details-color);
  border-radius: 10px;
}

/* start responsive */

@media (max-width: 950px) {
  .contact_sec .contact_form {
    width: 60%;
  }
  .contact_sec .contact_form h1 {
    font-size: 33px;
  }
  .contact_sec .contact_form form button,
  .contact_sec .contact_form form textarea::placeholder,
  .contact_sec .contact_form form input::placeholder {
    font-size: 13px;
  }
}

@media (max-width: 650px) {
  .contact_sec .contact_form {
    width: 80%;
  }
  .contact_sec {
    align-items: flex-start;
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .contact_sec .contact_form {
    width: 90%;
  }
  .contact_sec .contact_form h1 {
    font-size: 30px;
  }
  .contact_sec .contact_form form button,
  .contact_sec .contact_form form textarea::placeholder,
  .contact_sec .contact_form form input::placeholder {
    font-size: 12px;
  }
}

/* end responsive */

/*****************************************************************************************************/
/****************************************    end contact page    *************************************/
/*****************************************************************************************************/

/*****************************************************************************************************/
/****************************************  start projects page    ************************************/
/*****************************************************************************************************/

.projects_sec {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.projects_sec .container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.projects_sec .project_text {
  width: 48%;
}

.projects_sec .projects_content .projects-swp {
  position: relative;
  overflow: hidden;
}

.projects_sec .projects_content .projects .project {
  width: 49% !important;
  border-radius: 5px;
  overflow: hidden;
}

.projects_sec .projects_content .projects .project img {
  width: 100%;
  position: relative;
}

.projects_sec .projects_content .projects .project a {
  opacity: 0;
}

.projects_sec .projects_content .projects .project:hover a {
  opacity: 1;
}

.projects_sec .projects_content .projects .project a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000071;
  color: var(--second-color);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.projects_sec .projects_content .projects .project a span::first-letter{
  text-transform: capitalize;
}

.projects_sec .projects_content .projects .project a:hover span {
  text-decoration: underline;
}

.projects_sec .projects_content .projects-swp .swiper-pagination {
  position: absolute;
  top: 100%;
}

.projects_sec .projects_content .projects-swp .swiper-pagination span {
  background-color: var(--details-color);
}

.projects_sec
  .projects_content
  .projects-swp
  .swiper-pagination
  .swiper-pagination-bullet-active {
  width: 35px !important;
  border-radius: 30px !important;
}

/* start responsive */

@media (max-width: 950px) {
  .projects_sec .container {
    flex-direction: column;
    gap: 40px;
  }
  .projects_sec .project_text {
    width: 100%;
  }
  .projects_sec .my_projects {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .projects_sec {
    align-items: flex-start;
  }
  .projects_sec .my_projects {
    width: 100%;
    margin-bottom: 50px;
  }
  .projects_sec .project_text p {
    margin-right: 0;
  }
}

/* end responsive */

/*****************************************************************************************************/
/****************************************    end projects page   *************************************/
/*****************************************************************************************************/

/*****************************************************************************************************/
/***************************************    start services page   ************************************/
/*****************************************************************************************************/

.services_sec {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  overflow: auto;
}

.services_sec .container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.services_sec .services_content {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services_sec .my_services {
  width: 48%;
}

.services_sec .services .service {
  padding: 20px;
  height: 350px;
  background-color: #ffffff16;
  border: 1px solid var(--parag-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.services_sec .services .service .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services_sec .services .service .service_icon {
  width: 50px;
}

.services_sec .services .service h1 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.services_sec .services .service p {
  font-size: 12px;
  line-height: 1.6;
}

.services_sec .services .service i {
  font-size: 25px;
  color: var(--second-color);
  transform: rotate(45deg);
  width: fit-content;
  transition: 0.3s ease-in-out;
}

.services_sec .services .service:hover i {
  color: var(--details-color);
  transform: rotate(0);
}

.services_sec .my_services .services-swp {
  position: relative;
  overflow: hidden;
}

/* start responsive */
@media (max-width: 1070px) {
  .services_sec .services_content {
    width: 45%;
  }
  .services_sec .my_services {
    width: 55%;
  }
}

@media (max-width: 950px) {
  .services_sec .container {
    flex-direction: column;
    gap: 40px;
  }
  .services_sec .services_content {
    width: 100%;
  }
  .services_sec .my_services {
    width: 100%;
  }
  .services_sec .services .service {
    height: 380px;
  }
}

@media (max-width: 750px) {
  .services_sec .services .service {
    height: 350px;
  }
}

@media (max-width: 650px) {
  .services_sec {
    align-items: flex-start;
  }
  .services_sec .my_services {
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .services_sec .services .service {
    height: 380px;
  }
  .services_sec .services .service h1 {
    font-size: 19px;
  }
  .services_sec .services .service p {
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .services_sec .services .service {
    height: 300px;
  }
}

@media (max-width: 350px) {
  .services_sec .services .service {
    height: 350px;
  }
  .services_sec .container {
    gap: 20px;
  }
}

/* end responsive */

/*****************************************************************************************************/
/****************************************    end services page   *************************************/
/*****************************************************************************************************/
